$primary: #5D60AF;
$primarybg: #e1bbe8;
$secondary: #8c8c8c;
$secondarybg: #616161;
$white: #ffffff;
$gray: #9b9b9b;
$black: #000000;
$info: #1465c0;
$success: #09B849;
$light-success: #40b311;
$error: #da4f49;
$primarytab: #005d61;
$secondarytab: #005d61;
$tabtitle: #a2f6ff;
$tabtitle-active: #0f7884;
$tabtitle-hover: #287db9;
$table-header: #7088cc;
$boxshadow: rgba(0, 0, 0, 0.57);