<nav class="main-menu" id="tora-sidenav">
    <ul>
        <li ng-click="goHome()" class="pointer" ng-class="{'active':isActive}" layout="row" flex>
            <div layout="row" flex layout-margin layout-align="center center">
                <img src="/assets/images/sidenav/Dashboard.svg">
                <div class="nav-text">
                    Dashboard
                </div>
            </div>
        </li>
        <li ng-repeat="data in features" class="pointer" ng-class="{'active':data.active}" ng-click="gotoFeature(data)" layout="row"
            flex>
            <div layout="row" flex layout-margin layout-align="center center">
                <img src="{{ data.f_icon }}">
                <div class="nav-text">
                    {{ data.f_name }}
                </div>
            </div>
        </li>
        <li ng-click="logout()" class="pointer">
            <div layout="row" flex layout-margin layout-align="center center" layout="row" flex>
                <img src="/assets/images/sidenav/power-off-solid.png">
                <div class="nav-text">
                    Logout
                </div>
            </div>
        </li>
    </ul>
</nav>