.login_page {
    width: 100%;
    height: 100%;
    background-repeat: repeat;
    overflow: hidden;
    .form_css {
      border-radius: 10px;
      background: $white;
      border-radius: 3px !important;
    }
    .tora-login-button {
      background-color: $primary !important;
      color: $white;
    }
  
    .forget_css {
      color: $primary;
      text-decoration: underline;
      cursor: pointer;
      padding: 10px;
    }
    .title_login {
      text-align: center;
      color: $primary;
      margin-top: 10px;
    }
  }
  