<md-backdrop style="z-index:60!important;" ng-show="isLoading" class="loading-opacity" layout="column"
    layout-align="center center">
    <img id="mySpinner" src="../../assets/images/loader.gif" layout-align="center center">
    <span class="loadinfTxt" style="color:white;">Loading, please wait ...</span>
</md-backdrop>
<div layout="row">
   Welcome
</div>