<md-backdrop style="z-index:60!important;" ng-show="isLoading" class="loading-opacity" layout="column"
    layout-align="center center">
    <img id="mySpinner" src="../../assets/images/loader.gif" layout-align="center center">
    <span class="loadinfTxt" style="color:white;">Loading, please wait ...</span>
</md-backdrop>
<div class="login login_page" layout="row" layout-xs="column" flex="100">
    <div flex=40 flex-sm="60" layout-margin layout-align="center center" class="padd-50">
        <div layout-padding>
            <span class="small-font">Email Address</span>
            <div flex=70 flex-xs=100 flex-sm=100 class="input-border"><i class="far fa-envelope login-icon"></i><input
                    class="input md-block" autofocus="true" emailOnly ng-model="login.email" maxlength="50" type="text"
                    name="" /></div>
        </div>
        <div class="mar-left-20"><i class="tora-error-text">{{loginError.email}}</i></div>
        <div layout-padding>
            <span class="small-font">Password</span>
            <div flex=70 flex-xs=100 flex-sm=100 class="input-border"><i class="fas fa-key login-icon"></i><input
                    class="input" type="password" name="" ng-model="login.password" /></div>
        </div>
        <div class="mar-left-20"><i class="tora-error-text">{{loginError.password}}</i></div>
        <div layout-padding>
            <div flex=70 flex-sm=100 flex-xs=100 class="login-btn pointer" ng-click="login()">Login</div>
        </div>
    </div>
</div>