.tora-header {
	background-color: #f9fafe;
}
.nav-left {
	margin-left: 25px;
	margin-right: 15px;
	font-size: 25px;
	color: $primary;
	outline: none;
	cursor:pointer;
	font-weight:900;
}
.app-name {
	font-size: 25px;
	margin-right: 65px;
	color: $primary;
	font-weight:900;
}
.user-name {
	margin-top:10px;
	font-size: 20px;
	font-weight:900;
}
.welcome-msg {
	font-size: 10px;
	color: #9AA0AE;
}
.image {
	margin: 10px;
	img {
		width: 40px;
		height: 40px;
	}
}
