<div class="tora-header">
	<div layout="row" layout-align="start center">
		<div class="nav-left" ng-click="$root.toggleLeft()">
			<i class="fas fa-align-justify icon"></i>
		</div>
		<div class="image" ng-click="profile()">
			<img src="/assets/images/header/logo.png">
		</div>
		<div class="app-name">{{appName}}</div>
		<div>
			<p class="user-name">{{title}}</p>
		</div>
		<span flex></span>
		<div layout=column>
			<div class="user-name">Hi,&nbsp;&nbsp;{{currentUser}}</div>
			<div class="welcome-msg">Welcome back, nice to see you again !</div>
		</div>
		<div class="image" ng-click="profile()">
			<img src="/assets/images/header/profile.png">
		</div>
	</div>
</div>